body{
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #222222;
    text-align: center;
    color: whitesmoke;
    /* background-image: url("https://source.unsplash.com/1600x900/?landscape"); */
}

h2{
    color: whitesmoke;
    text-align: center;
    margin-top: 20x;
}

.card{
   background: #000000d0;
   color: whitesmoke;
   padding: 2em;
   border-radius: 30px;
   width: 100%;
   max-width: 300px;
   margin: auto;
   margin-top: 30px;
   text-align: center;
   max-height: 600px;
   overflow-y:scroll;
}



.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    border-radius: 30px;
    outline: none;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 5px;
    border: none;
    background: #7c7c7c2b;
    color: whitesmoke;
}
button:hover{
    background: #7c7c7c4b;
    color: whitesmoke;
    cursor: pointer;
}
input{
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #7c7c7c2b;
    color: whitesmoke;
    width: 100%;
}

#year{
    margin-bottom: 10px;
}

#poster{
    margin-bottom: 10px;
}

#watchlist-button{
    display: none;
    margin-top: 10px;
}

#watchlist{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 50px;
   margin-bottom: 50px;
}

.watchlist-poster{
    margin: 1em;
    cursor: pointer;
}

#dbl-click{
    margin-top: -20px;
    display: none;
}

.card::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }
  
  .card::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .card::-webkit-scrollbar-thumb {
    background-color: #ff2a2a;
    border-radius: 50px;
  }